<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
    </style>
  </head>
  <body>
    <% if(success_msg && success_msg.length > 0) { %>
        <div class="alert alert-success">
            <%= success_msg %>
        </div>
    <% } %>

    <% if(error_msg && error_msg.length > 0) { %>
        <div class="alert alert-danger">
            <%= error_msg %>
        </div>
    <% } %>
    <h1>Edit Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
      <label for="name">Nama Product</label>
      <input type="text" name="name" id="name" value="<%= product.name %>" />

      <label for="brand">Brand</label>
      <input type="text" name="brand" id="brand" value="<%= product.brand %>" />

      <label for="color">Warna</label>
      <input type="text" name="color" id="color" value="<%= product.color %>" />

      <label for="price">Price</label>
      <input type="text" name="price" id="price" value="<%= product.price %>" />

      <label for="category">Kategori</label>
      <select name="category" id="category">
        <option value="Aksesoris" <%= product.category === 'Aksesoris' ? 'selected' : '' %>>Aksesoris</option>
        <option value="Baju" <%= product.category === 'Baju' ? 'selected' : '' %>>Baju</option>
        <option value="Celana" <%= product.category === 'Celana' ? 'selected' : '' %>>Celana</option>
        <option value="Jaket" <%= product.category === 'Jaket' ? 'selected' : '' %>>Jaket</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
