<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Product</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
    </style>
  </head>
  <body>
    <% if(success_msg && success_msg.length > 0) { %>
        <div class="alert alert-success">
            <%= success_msg %>
        </div>
    <% } %>

    <% if(error_msg && error_msg.length > 0) { %>
        <div class="alert alert-danger">
            <%= error_msg %>
        </div>
    <% } %>
    <h1><%= product.name %></h1>
    <ul>
      <li>Brand: <%= product.brand %></li>
      <li>Color: <%= product.color %></li>
      <li>Harga: <%= product.price %></li>
      <li>
        Category:
        <a href="/products?category=<%= product.category %>">
          <%= product.category %>
        </a>
      </li>
    </ul>
    <h2>Garment:</h2>
    <ul>
      <li>
        <a href="/garments/<%= product.garment._id %>"
          ><%= product.garment.name %></a
        >
      </li>
    </ul>
    <a href="/products">All Products</a>

    <a href="/products/<%= product._id %>/edit">Edit</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="post">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
